{% extends 'base.html' %}

{% block title %}Projects{% endblock %}
{% load static %}

{% block content %}
<section class="projects-section center-column">
    <h2>Projects</h2>
    <div class="projects-list">
        
                    <div class="project-card">
                        <a href="https://github.com/Deal0308/Blog.git" target="_blank">
                            <img src="static/img/picture-1.jpg">
                            <p>Blog Project</p>
                            <p> This is the description for my first project. should be short</p>
                            <p>YYYY</p>
                            <div class="skills-container center">
                                <label >Skill</label>
                                <label >Skill</label>
                                <label >Skill</label>
                            </div>
                        </a>
        
                    </div>
        
        
                

                <div class="project-card">
                    <a href="https://github.com" target="_blank">
                        <img src="static/img/picture-2.jpg">
                        <p>Second Project Name</p>
                        <p> This is the description for my first project. should be short</p>
                        <p>YYYY</p>
                        <div class="skills-container center">
                            <label >Skill</label>
                            <label >Skill</label>
                            <label >Skill</label>
                        </div>
                    </a>
    
                </div>
    
    
           

            <div class="project-card">
                <a href="https://github.com" target="_blank">
                    <img src="static/img/picture-3.jpg">
                    <p>Third Project Name</p>
                    <p> This is the description for my first project. should be short</p>
                    <p>YYYY</p>
                    <div class="skills-container center">
                        <label >Skill</label>
                        <label >Skill</label>
                        <label >Skill</label>
                    </div>
                </a>

            </div>
        </div>
        </div>
        </div>
    
        

</section>


{% endblock %}