{% extends 'base.html' %}

{% block title %}Projects{% endblock %}
{% load static %}

{% block content %}
<section class="projects-section center-column">
    <h2>Projects</h2>
    
    <div class="projects-list">

        {% for project in projects %}
        
                    <div class="project-card">
                        <a href="{{ project.repository }}" target="_blank">
                            <img src="{{ project.image }}">
                            <p>{{ project.name }}</p>
                            <p>{{ project.description }}</p>
                            <p>{{ project.year }}</p>
                            
                            <div class="skills-container center">
                                {% for skill in project.skill.all %}
                                        <label>{{ skill.name }}</label>
                                    {% endfor %}
                            </div>
                        </a>
        
                    </div>
        
        
                {% endfor %}

        
                

            </div>

    
        

</section>


{% endblock %}