{% extends 'base.html' %}

{% block title %}About Me{% endblock %}
{% load static %}

{% block content %}
<section class="about-section center center-column">
    <div class="about-image-container center">
<img src="static/img/logo.png" alt="">
        </div>



    <div class="about-description-container center-column">
        <div class="center-column">
    <h1>My role as a dev</h1>
    <h2>Michael Deal</h2>
        </div>
        <div>
            <div class="center">
    <p> I am a father of 2, Marine Corps Vet, bodybuilder, aspiring coder, gamer, and a NERD!. I have always been interested in coding as  I am currently enrolled in the Deep Dive Coding Bootcamp and am excited to learn more about coding and web development. I am looking forward to a career in web development and am excited to see where this journey takes me.
    </p>
            </div>

    <div class="skills-list center-column">
        <h2>Skills</h2>

    <div class="tags-container center">
        <!-- 10 labels -->
        <label>CSS</label>
        <label>JavaScript</label>
        <label>Python</label>
        <label>HTML</label>
        <label>Django</label>
        <label>React</label>
        <label>Problem Solving</label>
        <label>Scrum</label>
        <label>MongoDB</label>
        <label>Node.JS</label>

    </div>
    </div>
</div>
</section>


{% endblock %}

