/* split the section into a left and right */
/* About Section */
.about-section {
    padding: 2rem;
}

.about-image-container {
    width: 40%;

}
.about-image-container img {
    width: 60%;
}

.about-description-container {
    width: 60%;
    
}
.about-description-container p {
    width: 80%;
    margin: 2rem 0px;
}

/* Projects Section */

.projects-section {
    padding: 2rem;
    background-color: var(--secondary-color-900);
    
}

.project-card img {
    width: 100%;
    border-radius: 1%;
}

.project-card {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color-900);

}
.project-card:hover {
opacity: 0.5;
border: 1px solid var(--secondary-color);
}

.skills-container {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem;
}

a p:nth-child(2), .experience-card p:nth-child(1) {
   font-weight: bolder;
   font-size: 1.1rem;
   margin-bottom: 0.5rem;
}

a p:nth-child(3), .experience-card p:nth-child(2){
    font-style: italic;
}
a p:nth-child(4), .experience-card p:nth-child(4){
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}

.projects-list {
    display: flex;                                                            
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    margin-top: 2rem;
}


/* Form */

.form-section {
    height: 100%;

}

#projectForm , #emailForm {
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 35rem;
    justify-content: space-evenly;
    margin-top: 4rem;
    padding: 3%;
    border: solid 1px var(--secondary-color);
}


/* Experience Section */

.experience-section {
    margin: 4rem;
}

.experience-card {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    padding: 0.5rem;
    gap: 0.5rem;
}

.experience-list {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

/* Contact Section */

.contact-section {
    
}